<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Email Address: </ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password: </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <p *ngIf="loginErr" text-center color="danger">The e-mail or password is incorrect.</p>

  <ion-grid>
    <ion-row>
      <ion-col col-6><button ion-button float-right (click)="login(user)">Login</button></ion-col>
      <ion-col col-6><button ion-button  color="light" (click)="register()">Register</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
