<ion-header>
  <ion-navbar hideBackButton>
      <button ion-button menuToggle id="menuToggle">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label for="enzyme">Enzyme: </ion-label>
      <ion-select name="enzyme" id="enzyme" [(ngModel)]="enzyme" (ionChange)="enzymeChanged()">
        <ion-option value="0">Alpha-amylase</ion-option>
        <ion-option value="1">Beta-amylase (barley)</ion-option>
        <ion-option value="2">Beta-amylase (barley malt)</ion-option>
        <ion-option value="3">Beta-amylase (wheat)</ion-option>
        <ion-option value="4">Limit dextrinase</ion-option>
      </ion-select>
  </ion-item>

  <ion-item>
      <ion-label for="unit">Convert to: </ion-label>
      <ion-select name="unit" id="unit" [(ngModel)]="unitSelected" (ionChange)="updateResult()">
        <ion-option *ngFor="let unit of units; let i = index" [value]="i">{{unit.name}}</ion-option>
      </ion-select>
  </ion-item>

  <ion-item>
      <ion-label for="value">Your value (U/mL): </ion-label>
      <ion-input type="number" name="value" id="input-value" [(ngModel)]="value" (ionChange)="updateResult()"></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
    <h2 ion-text text-center>Result: <b>{{result}}</b> {{unitName}}</h2>
  </ion-item>
  <br><br><br>
    <button ion-button icon-end block text-center (click)="send()">
      Send via e-mail&nbsp;&nbsp;
      <ion-icon name="send"></ion-icon>
    </button>
    <button ion-button icon-end block text-center (click)="save()">
      Save&nbsp;&nbsp;
      <ion-icon name="download"></ion-icon>
    </button>

</ion-content>
