<ion-header>
  <ion-navbar hideBackButton>
      <button ion-button menuToggle id="menuToggle">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Storage
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let file of files | async">
      <ion-row>
        <ion-col col-8>
          <ion-item no-lines>
            <h2>{{ file.enzyme }}</h2>
            <p>{{ file.timestamp | date }}</p>
          </ion-item>
        </ion-col>
        <ion-col col-4 padding-top>
          <button ion-button small icon-only (click)="send(file)">
            <ion-icon name="send"></ion-icon>
          </button>
          <button ion-button small icon-only (click)="delete(file)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>  
  </ion-list>
</ion-content>